.entry {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
}

.star-button {
  width: 75px;
  height: 75px;

  .star {
    color: white;
    transform: scale(2);
  }

  .selected {
    color: gold;
  }
}

.submit-button {
  width: 150px;
  align-self: center;
}
