.entry {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 10%;

  .timer,
  .score {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
  }
}

.word-description {
  width: 50vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.start-game-button {
  width: 30%;
  height: 40%;
  font-size: 22px;
  background-color: #BBD1F5 !important;
  border-radius: 15px;
  box-shadow: grey -1px 1px 5px;
}

.guess-input {
  width: 75vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
