<div class="entry">
  <h1>WELCOME</h1>
  <h2>In the following you will play Taboo</h2>
  <p class="instruction-text">
    Dear Participant,
    <br>
    In the context of our research project we would like to investigate how different descriptions of words affect the guessing of those words.
    Therefore we have developed this web application. In the following you will play a modified
    form of the parlor game Taboo. You are shown different descriptions of words one after the other, which you then have to guess.
    You have 30 seconds to guess each word correctly. Regardless of whether you guess the words correctly or not, you will be shown descriptions for 8 words in total.
    The descriptions for a single word do not change. That means you can guess as many times as you like within the time frame.
    Lower and upper case letters are not taken into account when guessing the word. After you guessed the word or the time is up, you will be asked to rate the description on how well it aligns to your personal knowledge/experience.
    For the success of the study it is important that you play the game as well as possible and to the best of your knowledge.
    <br><br>
    All data is collected anonymously, it cannot be assigned to your person and will be treated strictly confidential.
    <br><br>
    Thank you for your participation.</p>
  <button mat-button onClick="location.href = '/taboo-game/game'" class="play-game-button">Play the Game</button>
</div>
