<div class="header">
  <h1>Lifetime Game Stats:</h1>
  <button mat-icon-button (click)="reloadData()" class="refresh-button">
    <mat-icon class="refresh-icon">refresh</mat-icon>
  </button>
</div>

<div class="statistic-cards">
  <app-statistic-card
    class="statistic-card"
    [title]="'Total attendences'"
    [value]="getTotalAttendences()"
    [unit]="'attendences'"
  ></app-statistic-card>

  <app-statistic-card
    class="statistic-card"
    [title]="'Fastest guess'"
    [value]="getFastestGuess()"
    [unit]="'sec'"
  ></app-statistic-card>

  <app-statistic-card
    class="statistic-card"
    [title]="'Slowest Guess'"
    [value]="getSlowestGuess()"
    [unit]="'sec'"
  ></app-statistic-card>

  <app-statistic-card
    class="statistic-card"
    [title]="'Most attempts'"
    [value]="getMostAttempts()"
    [unit]="'attempts'"
  ></app-statistic-card>

  <app-statistic-card
    class="statistic-card"
    [title]="'Most unsolved'"
    [value]="getMostUnsolved()"
    [unit]="'times'"
  ></app-statistic-card>
</div>

<h1>All Data:</h1>

<div class="statistic-table">
  <app-statistic-table
    [lifeTimeWordStats]="lifeTimeWordStats"
    [displayedColumns]="displayedColumns"
  ></app-statistic-table>
</div>

<div class="invisible">{{lifeTimeWordStats[0].wordID}}</div>
