.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.refresh-button {
  transform: scale(2);
  margin-right: 50px;
}

.invisible {
  color: transparent;
}

.statistic-cards {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 20px;
  padding: 0 75px 50px 75px;
}

@media(max-width: 1700px) {
  .statistic-cards {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    padding: 0 75px 50px 75px;
  }
}

@media(max-width: 1350px) {
  .statistic-cards {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    padding: 0 75px 50px 75px;
  }
}

.statistic-table {
  padding: 0 75px;
}
