<div class="entry">
  <mat-card class="statistic-card">
    <mat-card-header class="title">{{ title }}</mat-card-header>
    <mat-card-content class="content">
      <div class="stat-value">
        <div class="placeholder"></div>
        <div class="number">
          {{ value.value }}
        </div>
        <div class="unit">
          {{ unit }}
        </div>
      </div>
      <div class="word-infos">
        <div class="word">
          {{ value.wordID | getWordFromId}}
        </div>
        <div class="generator">
          {{ value.wordID | getGeneratorFromId}}
        </div>
        <div class="description" *ngIf="value.wordDescription">
          Description: {{ value.wordDescription }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
