<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" yPosition="below" class="menu-items">
    <button mat-menu-item onClick="location.href = '/taboo-game/game'">
      <mat-icon>games</mat-icon>
      <span>Game</span>
    </button>
    <button mat-menu-item onClick="location.href = '/taboo-game/statistics'">
      <mat-icon>whatshot</mat-icon>
      <span>Statistics</span>
    </button>
  </mat-menu>

  <span class="header">A Language Game: Taboo</span>
  <span class="toolbar-spacer"></span>
<!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon>favorite</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon>share</mat-icon>-->
<!--  </button>-->
</mat-toolbar>


  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
