.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
  font-family: "Urbanist-Regular";
}

.component-container {
  padding: 0 20px;
}
