<div class="entry">
  <div class="header">
    Das ist die Taboo App
  </div>

  <div class="game-info">
    <div class="timer">
      <app-game-display
        displayType="timer"
        [gameStarted]="gameStarted"
        (timeOver)="onTimeOver()"
      ></app-game-display>
    </div>
    <div class="score">
      <app-game-display
        displayType="score"
      ></app-game-display>
    </div>
  </div>

  <div class="word-description">
    <app-word-description
      *ngIf="gameStarted"
    >
    </app-word-description>
    <button
      *ngIf="!gameStarted"
      (click)="onStartGame()"
      class="start-game-button"
      mat-raised-button
      color="accent"

    >Start Game</button>
  </div>

  <div class="guess-input">
    <app-guess-input></app-guess-input>
  </div>

  <div class="info">
    <span>{{ infoText }}</span>
  </div>
</div>
