<div class="entry">
  <div class="rating">
    <h2>Creativity:</h2>
    <div class="stars">
      <button
        *ngFor="let rating of [1,2,3,4,5]"
        (click)="setCreativityRating(rating)"
        mat-icon-button
        class="star-button">
        <mat-icon
          class="star"
          [class.selected]="descriptionRatings.creativity >= rating"
        >star</mat-icon>
      </button>
    </div>
  </div>

  <div class="rating">
    <h2>Bias:</h2>
    <div class="stars">
      <button
        *ngFor="let rating of [1,2,3,4,5]"
        (click)="setBiasRating(rating)"
        mat-icon-button
        class="star-button">
        <mat-icon
          class="star"
          [class.selected]="descriptionRatings.bias >= rating"
        >star</mat-icon>
      </button>
    </div>
  </div>

  <button
    (click)="onSubmitRatings()"
    mat-raised-button
    class="submit-button"
  >
    Submit Rating
  </button>
</div>
