@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #D7EEFF;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

.mat-mdc-form-field-flex,
.mat-mdc-text-field-wrapper{
  align-items: center !important;
}
